<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
	  <services>
    <service behaviorConfiguration="RaisersEdge.API.ToolKit.Web.Services.CodeTablesServiceBehavior"
     name="RaisersEdge.API.ToolKit.Web.Services.CodeTablesService">
     <endpoint address="" binding="wsHttpBinding" contract="RaisersEdge.API.ToolKit.Web.Services.ICodeTablesService">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
     <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
     <host>
      <baseAddresses>
       <add baseAddress="http://localhost:8731/Design_Time_Addresses/Services/CodeTablesService" />
      </baseAddresses>
     </host>
    </service>
    <service behaviorConfiguration="RaisersEdge.API.ToolKit.Web.Services.RecordServiceBehavior"
     name="RaisersEdge.API.ToolKit.Web.Services.RecordService">
     <endpoint address="" binding="wsHttpBinding" contract="RaisersEdge.API.ToolKit.Web.Services.IRecordService">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
     <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
     <host>
      <baseAddresses>
       <add baseAddress="http://localhost:8731/Design_Time_Addresses/RaisersEdge.API.ToolKit.Web.Services/RecordService/" />
      </baseAddresses>
     </host>
    </service>
    <service behaviorConfiguration="RaisersEdge.API.ToolKit.Web.Services.QueryServiceBehavior"
     name="RaisersEdge.API.ToolKit.Web.Services.QueryService">
     <endpoint address="" binding="wsHttpBinding" contract="RaisersEdge.API.ToolKit.Web.Services.IQueryService">
      <identity>
       <dns value="localhost" />
      </identity>
     </endpoint>
     <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
     <host>
      <baseAddresses>
       <add baseAddress="http://localhost:8731/Design_Time_Addresses/RaisersEdge.API.ToolKit.Web.Services/QueryService/" />
      </baseAddresses>
     </host>
    </service>
   </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RaisersEdge.API.ToolKit.Web.Services.CodeTablesServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="RaisersEdge.API.ToolKit.Web.Services.RecordServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="RaisersEdge.API.ToolKit.Web.Services.QueryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
